<!DOCTYPE html>
<html data-ng-app="totalAnarchy" ng-csp="">
  <head>
  	<meta charset="utf-8" />
  	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  	<script src="js/jquery.min.js"></script>
    <script src="lib/stringencoding/encoding.js"></script>
    <script src="lib/stringencoding/encoding-indexes.js"></script>
  	<script src="js/bootstrap.min.js"></script>
  	<script src="js/angular.min.js"></script>
  	<script src="js/angular-strap/dist/angular-strap.js"></script>
 	<script src="js/app.js"></script>
 	<script src="js/services/proxy.js"></script>
 	<script src="js/services/proxyparser.js"></script>
 	<script src="js/controllers/proxyCtrl.js"></script>
	<title>Total Anarchy Intercept Proxy</title>
	<base target="_blank">
  </head>
  <body>
 	<div data-ng-controller="proxyCtrl" class="navbar" bs-navbar>
	  <div class="navbar-inner">
	    <ul class="nav">
	      <!-- You can use regular expressions -->
	      <li data-ng-click="listen()"><a href="">{{serverstate}}</a></li>
	      <li data-match-route="/Intercept"><a href="#/Intercept">Intercept</a></li>
	      <li data-match-route="/History"><a href="#/History">History</a></li>
	      <li data-match-route="/Intruder"><a href="#/Intruder">Intruder</a></li>
	    </ul>
	  </div>
	  <div ng-click="submitRequest()"><div data-ng-repeat="line in data">{{line}}</div></div>
	</div>	
  </body>
</html>